.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
}
.img1 {
    margin: 5px;
}
.img1 img {
    height: 200px;
    border-radius: 2px;
}

/* madiaqueries */

@media (max-width:1281px) {
    .container {
        margin: 20px 20px;
    }
    .img1 img {
        height: 165px;
    }
  }
  @media (max-width:981px) {
    .img1 img {
        height: 140px;
    }
  }
  @media (max-width:768px) {
    .img1 img {
        height: 140px;
    }
  }
  @media (max-width:567px) {
      
  }
  @media (max-width:320px) {
      
  }